	#firstrunwizard {
	text-align: center;
}

#cboxLoadedContent {
	border-radius: 3px;
}

#firstrunwizard .firstrunwizard-header {
	padding: 20px 12px;
	background-color: #8157C2;
	color: #fff;
}
#firstrunwizard .firstrunwizard-header .logo {
	background-size: 190px;
	width: 260px;
	height: 260px;
	margin: 0 auto;
	background: #B49CD9 url('../../../themes/framagenda/core/img/logo.svg') no-repeat center;
	border-radius:50%;
	border:2px solid #8e9c48;
}

#firstrunwizard .firstrunwizard-content {
	margin: 12px;
}

#firstrunwizard h1 {
	font-size: 40px;
	font-weight: 300;
	line-height: 120%;
	padding: 0 0 10px
}

#firstrunwizard h2 {
	margin: 15px 0 10px;
	line-height: 120%;
}

#firstrunwizard .appsmall {
	height: 32px;
	width: 32px;
	position: relative;
	opacity: .5;
	vertical-align: middle;
}

#firstrunwizard .button {
	display: inline-block;
	padding: 8px;
	font-weight: normal;
	font-size: 14px;
}

#firstrunwizard p a {
	font-weight: bold;
	color: #0082c9;
}
#firstrunwizard p a:hover,
#firstrunwizard p a:focus {
	color: #444;
}
#firstrunwizard .footnote {
	margin-top: 40px;
}

#firstrunwizard .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
}

.row {
	display: block;
}

.elem {
	display: inline-block;
	/*width: 30%;*/
	padding: 0 10px;
	min-height: 10px;
	vertical-align: top;
	margin: auto 30px;
	min-width: 200px;
}

.elem a {
	color: #8157C2;
}

ul {
	text-align: left;
}
